<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <!--组件与布局基础样式-->
    <link href="../../../src/css/one.css" rel="stylesheet">


    <title></title>
    <style>
        body {
            background-color: rgb(230, 230, 230);
            cursor: url('../../../resources/image/finger.png'), auto;
        }
        .top{
            margin:20px;
        }
        ul[class^='one-avg']>li{
            border:1px solid #3598db;
            font-size:1.4rem;
            text-align: center;
        }

        .one-g{
            padding-top:0.5rem;
        }
        .txt{font-size:1.2rem;margin-top: 0.5rem;}


    </style>
</head>
<body>
<div class="top">AVG-Grid 均分网格布局演示</div>

<div class="txt">.one-avg-sm-1</div>
<div class="one-g">
    <ul class="one-avg-sm-1">
        <li>A</li>
    </ul>
</div>
<div class="txt">.one-avg-sm-2</div>
<div class="one-g">
    <ul class="one-avg-sm-2">
        <li>A</li>
        <li>B</li>
    </ul>
</div>
<div class="txt">.one-avg-sm-3</div>
<div class="one-g">
    <ul class="one-avg-sm-3">
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ul>
</div>
<div class="txt">.one-avg-sm-4</div>
<div class="one-g">
    <ul class="one-avg-sm-4">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
    </ul>
</div>
<div class="txt">.one-avg-sm-5</div>
<div class="one-g">
    <ul class="one-avg-sm-5">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
    </ul>
</div>
<div class="txt">.one-avg-sm-6</div>
<div class="one-g">
    <ul class="one-avg-sm-6">
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
    </ul>
</div>
</body>
</html>