<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <!--组件与布局基础样式-->

    <link href="../../../src/css/one.css" rel="stylesheet">
    <link href="../../../src/css/layout/bar.css" rel="stylesheet" type="text/css">
    <title></title>
    <style>
        body {
            background-color: rgb(230, 230, 230);
            cursor: url('../../../resources/image/finger.png'), auto;
        }
        .top{
            margin:20px;
        }

    </style>
</head>
<body>
<div class="one-bar one-bar-fixed-top">
    <ul class="one-g">
        <li class="one-u-sm-2">
            返回
        </li>
        <li class="one-u-sm-8 no-active">
            登&nbsp;&nbsp;录
        </li>
        <li class="one-u-sm-2">
            关闭
        </li>
    </ul>
</div>

<div style="padding-bottom:1rem;">
    固定位置带立体效果:
</div>


<div style="padding-top:5rem;padding-bottom:1rem;">
        无左右按钮平铺效果:
</div>

<div class="one-bar">
    <ul class="one-g">

        <li class="one-u-sm-12 no-active">
            登&nbsp;&nbsp;录
        </li>

    </ul>
</div>

<div style="height: 400px;"></div>

<div class="one-bar one-bar-fixed-bottom">
    <ul class="one-g">

        <li class="one-u-sm-12 no-active">
            固定底部
        </li>

    </ul>
</div>

</body>
</html>