<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <script src="../../../src/js/zepto.min.js"></script>
    <script src="../../../src/js/one.js"></script>
    <link href="../../../src/css/one.css" rel="stylesheet">
    <link href="../../../src/css/layout/cards.css" rel="stylesheet" type="text/css">


    <title></title>
    <script>
        $(function()
        {
        })
    </script>

    <style>
        body{
            background-color: rgb(230, 230, 230);
            cursor: url('../../../resources/image/finger.png'), auto;
        }
        .top{
            margin:20px;
        }
    </style>

</head>

<body>

<div class="top">Cards 控件演示</div>
<div class="one-card">
    <div class="one-item one-item-text-wrap">
        这是一个最基础的卡片布局，包含的文字会自动换行
    </div>
</div>

<div class="one-card">
    <div class="one-item one-item-divider">
        带标题的卡片
    </div>
    <div class="one-item one-item-text-wrap">
        卡片可以选择是否有标题，和标题的位置
        卡片内可以放置其他任意元素或组件
    </div>
    <div class="one-item one-item-divider">
       带底部的卡片
    </div>
</div>


</body>
</html>