<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <script src="../../../src/js/zepto.min.js"></script>
    <script src="../../../src/js/one.js"></script>
    <link href="../../../src/css/one.css" rel="stylesheet">
    <link href="../../../src/css/layout/cards.css" rel="stylesheet" type="text/css">
    <link href="../../../src/css/layout/forms.css" rel="stylesheet" type="text/css">


    <title></title>
    <script>
        $(function () {
        })
    </script>

    <style>
        body {
            background-color: rgb(230, 230, 230);
            cursor: url('../../../resources/image/finger.png'), auto;

        }

        .top {
            margin: 20px;
        }
    </style>

</head>

<body>

<div class="top">Forms 控件演示</div>

<div class="one-list">
    <label class="one-item one-item-input">
        <input type="text" placeholder="用户名">
    </label>
    <label class="one-item one-item-input">
        <input type="text" placeholder="密&nbsp;&nbsp;&nbsp;码">
    </label>
    <label class="one-item one-item-input">
        <textarea placeholder="评论内容"></textarea>
    </label>
</div>

<div class="one-list">
    <label class="one-item one-item-input">
        <span class="one-u-sm-3">用户名:</span>
        <input type="text" class="one-u-sm-9">
    </label>
    <label class="one-item one-item-input">
        <span class="one-u-sm-3">密&nbsp;&nbsp;&nbsp;码:</span>
        <input type="password" class="one-u-sm-9">
    </label>
</div>

<div class="top">嵌入到Card当中的效果</div>
<div class="one-card one-list">
    <label class="one-item one-item-input">
        <input type="text" placeholder="用户名">
    </label>
    <label class="one-item one-item-input">
        <input type="text" placeholder="密&nbsp;&nbsp;&nbsp;码">
    </label>
    <label class="one-item one-item-input">
        <textarea placeholder="评论内容"></textarea>
    </label>
</div>

</body>
</html>