<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <!--组件与布局基础样式-->

    <link href="../../../src/css/one.css" rel="stylesheet">
    <title></title>
    <style>
        body {
            background-color: rgb(230, 230, 230);
            cursor: url('../../../resources/image/finger.png'), auto;
        }
        .top{
            margin:20px;
        }

    </style>
</head>
<body>
<div class="top">List 控件演示</div>

<div class="one-list">
    <ul>
        <li class="one-item">北京</li>
        <li class="one-item ">上海</li>
        <li class="one-item">广州</li>
        <li class="one-item">深圳</li>
    </ul>
</div>

<div class="one-list">
    <ul>
        <li class="one-item one-item-balanced">北京</li>
        <li class="one-item one-item-positive">上海</li>
        <li class="one-item one-item-calm" >广州</li>
        <li class="one-item one-item-energized">深圳</li>
    </ul>
</div>

</body>
</html>